@Html.AntiForgeryToken()
<div class="d-flex justify-content-between mt-4">
    <a asp-action="Index" class="btn btn-outline-secondary">
        <i class="bi bi-arrow-left-circle me-1"></i> Quay lại
    </a>
    <button type="submit" class="btn btn-primary">
        <i class="bi bi-save me-1"></i> Lưu
    </button>
</div>

