@model HotelManagement.Models.ThanhToan
@{
    ViewData["Title"] = "Cập nhật thanh toán";
}

<h2 class="mb-4">@ViewData["Title"]</h2>

<form asp-action="Edit" asp-route-maThanhToan="@Model.maThanhToan" method="post" class="needs-valmaThanhToanation" novalmaThanhToanate>
    <input type="hmaThanhToanden" asp-for="maThanhToan" />
    <partial name="_Form" />
</form>
