@model HotelManagement.Models.LoaiPhong
@{
    ViewData["Title"] = "Cập nhật loại phòng";
}

<h2 class="mb-4">@ViewData["Title"]</h2>

<form asp-action="Edit" method="post" class="needs-validation" novalidate>
    <input type="hidden" asp-for="Id" />
    <partial name="_Form" />
</form>
