@model HotelManagement.Models.DichVu
@{
    ViewData["Title"] = "Cập nhật dịch vụ";
}

<h2 class="mb-4">@ViewData["Title"]</h2>

<form asp-action="Edit" asp-route-id="@Model.maDichVu" method="post" class="needs-validation" novalidate>
    <input type="hidden" asp-for="maDichVu" />
    <partial name="_Form" />
</form>
