@model HotelManagement.Models.KhachHang

<partial name="_ValidationSummary" />

<div class="row g-3">
    <div class="col-md-6">
        <label asp-for="hoTen" class="form-label">Tên khách hàng</label>
        <input asp-for="hoTen" class="form-control" />
        <span asp-validation-for="hoTen" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="SoDienThoai" class="form-label">Số điện thoại</label>
        <input asp-for="SoDienThoai" class="form-control" />
        <span asp-validation-for="SoDienThoai" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="ghiChu" class="form-label">Ghi chú</label>
        <input asp-for="ghiChu" class="form-control" type="ghiChu" />
        <span asp-validation-for="ghiChu" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="cccd" class="form-label">Căn cước công dân</label>
        <input asp-for="cccd" class="form-control" type="cccd" />
        <span asp-validation-for="cccd" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="DiaChi" class="form-label">Địa chỉ</label>
        <textarea asp-for="DiaChi" class="form-control" rows="3"></textarea>
        <span asp-validation-for="DiaChi" class="text-danger"></span>
    </div>

</div>

<partial name="_FormActions" />

