@model HotelManagement.Models.KhachHang
@{
    ViewData["Title"] = "Thêm khách hàng";
}

<h2 class="mb-4">@ViewData["Title"]</h2>

<form asp-action="Create" method="post" class="needs-validation" novalidate>
    <partial name="_Form" />
</form>
