@model HotelManagement.Models.KhachHang
@{
    ViewData["Title"] = "Cập nhật khách hàng";
}

<h2 class="mb-4">@ViewData["Title"]</h2>

<form asp-action="Edit" asp-route-id="@Model.maKhachHang" method="post" class="needs-validation" novalidate>
    <input type="hidden" asp-for="maKhachHang" />
    <partial name="_Form" />
</form>
